<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Checkout</title>
</head>
<body>
    <h1>Thank you for your business!</h1>
    <p>We charged your credit card for ${{request.session.cost}}</p>
    <br>
    <p>You have ordered {{request.session.count}} items so far and spent ${{total}} with Amadon.com</p>
    <a href="/clear">Go Back</a>
</body>
</html>