<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Amadon</title>
</head>
<body>
    <h1>Amadon Store</h1>
    <Table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>Dojo Tshirt</td>
            <td>$19.99</td>
            <td>
                <form action="/additem" method="post">
                    {%csrf_token%}
                    <select name="amount" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>    
                    </select>
                    <input type="hidden" name="cost" value='19.99'/>
                    <input type="submit" value="Buy!"/>
                </form>
            </td>
        </tr>
        <tr>
            <td>Dojo Sweater</td>
            <td>$29.99</td>
            <td>
                <form action="/additem" method="post">
                    {%csrf_token%}
                    <select name="amount" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>    
                    </select>
                    <input type="hidden" name="cost" value='29.99'/>
                    <input type="submit" value="Buy!">
                </form>
            </td>
        </tr>
        <tr>
            <td>Dojo Cup</td>
            <td>$4.99</td>
            <td>
                <form action="/additem" method="post">
                    {%csrf_token%}
                    <select name="amount" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>    
                    </select>
                    <input type="hidden" name="cost" value='4.99'/>
                    <input type="submit" value="Buy!">
                </form>
            </td>
        </tr>
        <tr>
            <td>Algorithm Book</td>
            <td>$49.99</td>
            <td>
                <form action="/additem" method="post">
                    {%csrf_token%}
                    <select name="amount" id="">
                    <option value="1">1</option>
                    <option value="2">2</option>    
                    </select>
                    <input type="hidden" name="cost" value='49.99'/>
                    <input type="submit" value="Buy!">
                </form>
            </td>
        </tr>
    </Table>
</body>
</html>